.tablex * {
    box-sizing: border-box;
    font-family: sans-serif;
}

.tablex-row {
    min-height: 2rem;
    width: 100%;
    display: flex;
}

.tablex-row.shrink .tablex-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.tablex-row:nth-child(2n) {
    background-color: #eee;
}

.tablex-cell {
    display: inline-block;
    padding: .25rem .5rem;
}

.tablex-row-header {
    height: 2.5rem;
    display: flex;
    align-items: center;
    background-color: #0b3f97;
}

.tablex-cell-header {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.tablex-row-filter {
    padding: 0;
}

.tablex-cell-input {
    border: none;
    outline: none;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #444;
    padding: .25rem .5rem;
}
